@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
    background-color: #11113A;
    font-family: "poppins", sans-serif;
    color: white;
}
.Logo{
    text-decoration: none;
    font-family: "poppins", sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a{
    position: relative;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    margin-left: 1.5rem;
    font-weight: 500;
}
.navbar a:hover{
    color: rgb(189, 70, 189);
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: rgb(189, 70, 189);
    transition: 0.3s ease-in;
}
.navbar a:hover::before{
    width: 100%;
}

.search-form {
    margin-left: 350px;
}

#query {
    border: 1px solid #ccc;
    background-color: transparent;
    color: white;
    height: 2rem;
    border-radius: 0.3rem;
    transition: border-color 0.3s ease-in-out;
}

#query:focus {
    border-color: #16bdd7;
    outline: none;
    box-shadow: 0 0 5px rgba(25, 25, 25, 0.5);
}

.movieName {
    text-decoration: none;
    font-size: 1.125rem;
}

a,
.Language,
.footer-content a,
.bottom-bar a {
    color: white;
    text-decoration: none;
}

.btn {
    background: radial-gradient(274px at 7.4% 17.9%, rgb(82, 107, 248) 0.3%, rgb(167, 139, 252) 90.5%);
    color: white;
    border: none;
    height: 2rem;
    width: 6.563rem;
    cursor: pointer;
    border-radius: 0.3rem;
}

#Lan {
    height: 2rem;
    border-radius: 0.3rem;
    background-color: transparent;
}

/* body style */









footer {
    background: #343434;
    padding-top: 40px;
}

.footer-content a:hover,
.bottom-bar a:hover {
    color: rgb(189, 70, 189);
}

.footer-content i {
    padding-left: 14px;
}

footer h3 {
    font-size: 18px;
    padding-bottom: 10px;
}

.bottom-bar {
    background: #3d3d3d;
    font-size: 13px;
    padding: 15px;
}

.bottom-bar p {
    padding-top: 10px;
    margin-left: 60px;
    padding-right: 850px;
    display: inline-block;
}
