@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* html{ */
    /* font-size: ; */
/* } */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body{
    min-height: 100vh;
    background-color: #11113A;
    font-family: "poppins", sans-serif;
    color: white;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: #00000064;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.Logo{
    color: white;
    text-decoration: none;
    font-family: "poppins", sans-serif;
    font-weight: 700;
    font-size: 2rem;
}
.navbar a{
    position: relative;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    margin-left: 2rem;
    font-weight: 500;
}
.navbar a:hover{
    color: purple;
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: purple;
    transition: 0.3s ease-in;
}
.navbar a:hover::before{
    width: 100%;
}
/* Search input styles */
#query {
    border: 1px solid #ccc;
    transition: border-color 0.3s ease-in-out;
}
#query:focus {
    border-color: #16bdd7; /* Change to your desired focus color */
    outline: none; /* Remove the default focus outline, if desired */
    box-shadow: 0 0 5px rgba(25, 25, 25, 0.5); /* Optional: Add a subtle box shadow */
}
